<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Job Portal</title>
</head>
<body class="<%= bodyClass %>">
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Job Listings</a></li>
        <% if (currentUser) { %>
          <li><a href="/jobs/new">Create Job</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

  <!-- Include content from specific views -->
  <%- body %>

  <footer>
    <p>&copy; 2023 Job Portal</p>
  </footer>
</body>
</html>
