
<%- include('layouts/mainLayout', { bodyClass: 'error-404', body: 'Your actual body content goes here' }) %>


<main>
  <h1>404 Not Found</h1>
  <p>The requested page is not accessible.</p>
</main>
